@font-face {
  font-family: 'Playfair';
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

.menu {
  display: flex;
}

.menu__opener-link {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__link {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #b1b1b1;
  font-family: 'Playfair';
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #b1b1b1;
  transition: all 0.5s;
}

.menu__link:hover::after{
  width: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu__list {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }

  .menu__opener-link {
    display: flex;
  }

  .menu__opener-icon {
    object-fit: none;
  }
}