.main__section {
  margin-top: 100px;
  padding: 0 80px;
}

.main__content {
  height: 1370px;
}

.main__section-wrap {
  display: flex;
}

@media (max-width: 768px) {
  .main__section {
    margin-top: 50px;
    padding: 0 10px;
  }
}